
/* INDEX CSS */
.nav_bg {
  /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
  background-color: #343a40;
}
body {
  background-color: #f5f5f5;
}
.form-control:focus {
  border-color:black;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.8);
}
/* Botones */
.myButton {
  color: #fff !important;
  background-color: #007bff00 !important;
  border-color: #ffffff !important;
}

.myButton:hover {
  color: black !important;
  background-color: #fff !important;
  border-color: #fff !important;
}

.myButton2 {
  color: #343a40;
  background-color: #f5f5f5;
  border-color: #343a40;
}

/* Marketing */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.special {
  padding-bottom: 10px;
}
/* Login */
/* Logo */
.logotipo {
  display: inline-block;
  margin-bottom: 0;
}
.navbar-brand {
  padding-left: 10px;
}

/* CURSOS CSS */

/* MainSection */
@media (min-width: 576px) {
.jumbotron {
  padding: 6rem 2rem;
  }
}
/* ItemCarousel */

/* footer */
.text-uppercase {
  color: white;
}

.coolnes {
  color: white;
}

.footerlink {
  color: gray;
  text-decoration: none;
}
.footerlink:hover {
  color: white;
  text-decoration: none;
}
i {
  color: white !important;
}
.footer-copyright {
  color: white;
}
.coolnes2 {
  color: gray;
}

.dropdown-item:active {
  background-color: #343a40;
  color: white;
}
.BannerOne {
  text-align: center;
  padding: 30px;
  color: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}