
/* INDEX CSS */
/* Botones */
.myButton {
  color: #fff !important;
  background-color: #007bff00 !important;
  border-color: #ffffff !important;
}

.myButton:hover {
  color: black !important;
  background-color: #fff !important;
  border-color: #fff !important;
}

/* Marketing */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing {
  padding-top: 15px;
  padding-bottom: 15px;
}
.special {
  padding-bottom: 10px;
}
/* Login */
/* Logo */
.logotipo {
  display: inline-block;
  margin-bottom: 0;
}
.navbar-brand {
  padding-left: 10px;
}

/* CURSOS CSS */

/* MainSection */
@media (min-width: 576px) {
.jumbotron {
  padding: 6rem 2rem;
  }
}
/* ItemCarousel */
